<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Library</title>
</head>
<body>
<button class="btn btn-success" routerLink="/createAuthor" type="submit">Create new author</button>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Book title</th>
    <th colspan="2" align="center" width="fit-content"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let author of authors">
    <td></td>
    <td>{{author.name}}</td>
    <td>{{author.surname}}</td>
    <td><a routerLink="/books"><li *ngFor="let book of author.books">{{book.title}}</li></a></td>
    <td><button class="btn btn-info" routerLink="/updateAuthor/{{author.authorId}}" type="submit">Edit</button></td>
    <td><button class="btn btn-danger" type="submit" (click)="deleteById(author)">Delete</button></td>
  </tr>
  </tbody>
</table>
</body>
</html>
